
body {
    font-family: "Montserrat";   
    background-image: url('../images/bg.png');
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
    /* background-repeat: repeat; */
    /* padding-bottom: 5%; */
    text-align: center;
  }


  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
  }

 

hr {
  border-bottom: 1px solid #8f8f8f;
  width: 400px

}
/* 
.container-fluid{
  padding: 7% 15%;
} */


.header{
  height: auto;
}




.navbar{ padding: 0 5rem ;}

.nav-link { 
    color: #8f8f8f; 
    cursor: pointer;
}


.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    color: #8f8f8f;
}

.nav-item {
    padding: 0 18px;
  }


.nav-link{ 
    margin-right: 1em !important;
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

.nav-link:hover{  color: #fff; }

.nav-brand:hover{  color: #fff;
}

.navbar-collapse{ justify-content: flex-end;}



.navbar-collapse{
    justify-content: flex-end;
   }


   
    #title .container-fluid {
       padding: 3% 15%;
       
     }
    
.heading {
    padding: 5rem;
   
}
      
  .big-heading {
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    padding: 2rem 0 2rem;
    color: #fff;
   
  }
  .tag-heading {
    font-family: "Montserrat-Black";
    font-size: 2rem;
    color: #8f8f8f;
    
  }

 


/* About Section */
 

#about {
text-align: center;
color: #fff;


  }
  
  #about .container-fluid {
    padding: 7% 5%;
  }



  
  .about-img {
    width: 60%;
    padding: 4%;
  } */




/* Features Section */

#features {
    text-align: center;
}

#features .container-fluid {
  padding: 7% 15% ;
  }
  


.features-heading {
  font-size: 3rem;
  line-height: 1.5;
  color: #fff;
  font-weight: bolder;
}

  
  .features-text {
    font-size: 2rem;
    line-height: 1.5;
    color: #fff;
  
  }
  
  .features-image {
    width: 70%;
    border-radius: 100%;
    margin: 20px;
  }
  
  .features-description {
    color: #fff;
  }
   

/* How it works section */



#work {
  text-align: center;
  color: #fff;
    }
    
#work .container-fluid {
  padding: 7% 15% ;
    }

  .work-title {
    font-size: 1.5rem;
    color: #8f8f8f;
    font-weight: bold;
  }

  .work-description {
    color: #fff;
  }
  
  
  .work-box {
    padding: 4%;
  }
  
  .work-img {
    width:80%;
  }

#relax {
  text-align: center;

}

#relax .container-fluid {
  padding: 5% 5% 5%;
}
 


/* Rates */

#rates {
  text-align: center;
  color: #fff;
}

#rates .container-fluid {
  padding: 7% 15% ;
}


/* Contact Section */


#contact {
    text-align: center;
    color: #fff;
    
}

  #contact .container-fluid {
    padding: 3% 15% ;
  }
  
  
  
  
  address {
    color: #fff;
    padding: 0 18px;
  }
  
  .email {
    color: #fff;
  }

