
body {
    font-family: "Montserrat";   
    text-align: center;
   
  }


  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
  }

 

.container-fluid {
  padding: 7% 15%;
}








.navbar{ padding: 0 4.5rem ;}

.nav-link { 
    color: #8f8f8f; 
    cursor: pointer;
}


.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    color: #8f8f8f;
}

.nav-item {
    padding: 0 18px;
  }


.nav-link{ 
    margin-right: 1em !important;
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

.nav-link:hover{   color: #f6f1ee; }

.nav-brand:hover{   color: #f6f1ee;
}

.navbar-collapse{ justify-content: flex-end;}



.navbar-collapse{
    justify-content: flex-end;
   }




#title {
  background-image: url('../images/header.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#title .container-fluid {
  padding: 3% 15% 7%;
}


   

      
  .big-heading {
    font-family: "Montserrat-Black";
    font-size: 4rem;
    padding: 2rem 0 2rem;
    color: #f6f1ee;
    margin-top: 20%;
    font-weight: bolder;
   
  }
  .tag-heading {
    font-family: "Ubuntu";
    font-size: 3rem;
    color: #f6f1ee;
    font-weight: bold;
    
  }

 


/* About Section */
 

#about {
text-align: center;
color: #1499a8


  }
  
  #about .container-fluid {
    padding: 7% 15%;
  }


  .about-heading {
    font-size: 3rem;
    line-height: 1.5;
    color: #1499a8;
    font-weight: bolder;
    /* padding-top: 5%; */
  }

.about-box {
  padding: 4%;
}
  
  .about-img {
    width: 60%;

  } 




/* Features Section */


#gallery {
  background-color: #1499a8;
    text-align: center;
}

#gallery .container-fluid {
  padding: 7% 15% ;
  }
  


.gallery-heading {
  font-size: 3rem;
  line-height: 1.5;
  color: #f6f1ee;
  font-weight: bolder;
  /* padding-top: 5%; */
}

  .gallery { 
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    margin-top: 10px;
    overflow: hidden;
}
.gallery img { 
    width: 100%; 
    height: auto;
    transition: 500ms;
    margin-bottom: 10px;
    opacity: 0.8;
    page-break-inside: avoid; 
    -webkit-column-break-inside: avoid; 
    break-inside: avoid; 
}
.gallery img:hover {
    opacity: 1;
}
.modal-img,.model-vid{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table
}
.modal-body{
  padding: 0px;
}
.modal-dialog {
  height: 100%;
      position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-content {
  border: none;
}

/*
  .features-text {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #f6f1ee;
  
  }
  
  .features-image {
    width: 70%;
    border-radius: 100%;
    margin: 20px;
  }
  
  .features-description {
    color: #f6f1ee;
    font-size: 1rem;
  }
   
*/

/* How it works section */



#work {
  text-align: center;
  color: #1499a8
    }
    
#work .container-fluid {
  padding: 7% 15% ;
    }


    .work-heading {
      font-size: 3rem;
      line-height: 1.5;
      color: #1499a8;
      font-weight: bolder;
      /* padding-top: 5%; */
    }

  .work-description {
    color: #1499a8
  }
  
  
  .work-box {
    padding: 4%;
  }
  
  .work-img {
    width:80%;
  }

#relax {
  text-align: center;

}

#relax .container-fluid {
  padding: 5% 5% 5%;
  background-color: #1499a8;
}


.selfcare-heading {
  font-size: 3rem;
  line-height: 1.5;
  color: #f6f1ee;
  font-weight: bolder;
  /* padding-top: 5%; */
}
 


/* Rates */

#rates {
  /* background-color: #4f7d82; */
  text-align: center;
  color: #1499a8
}

#rates .container-fluid {
  padding: 7% 15% ;
}


/* Contact Section */


#contact {
  background-image: url('../images/footer.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #f6f1ee;
    
}

  #contact .container-fluid {
    padding: 3% 15% ;
  }
  
  
  
  
  address {
    color: #f6f1ee;
    padding: 0 18px;
  }
  
  .email {
    color: #f6f1ee;
  }

@media screen and (max-width: 767px) {
	.gallery { 
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
	.gallery div { margin: 0; 
        width: 200px;
    }
  .modal-dialog {
        margin: 0 8vw;
    }
}
@media screen and (max-width: 479px) {
    .gallery { 
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    .gallery div { 
        margin: 0; 
        width: 200px;
    }
}